@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marvel&display=swap');

:root {
  --marvel: "Marvel";
  --press-start: "Press Start 2P"
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: var(--marvel);
}

h1, p {
  color: #ffffff;
}

body {
  background-color: #212529;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

nav{
  display: flex;
  color: #ffffff;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
}

.logo img {
  height: 4em;
  width: 4em;
}

#burger-icon {
  width: 2em;
  height: 2em;
  fill: #FFE156;
}
#hotdog-icon {
  width: 2em;
  height: 2em;
  fill: #FF55FF;
  display: none;
  z-index: 100;
}

#links {
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  position: fixed;
  transition: transform 2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: #212529;
  padding-top: 4rem;
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;

}

.aboutrectangle {
  display: flex;
  flex-direction: column;
}

.about-child {
  flex: 1;
  flex-wrap: nowrap;
}

.about-child h1 {
  font-size: 4rem;
  margin: 1em 10rem 0;
  text-align: center;
}

.about-child p {
  font-size: 1.5rem;
  padding: 1rem 10rem 2em;
  text-align: center;
}

.about-child h2 {
  text-align: center;
  font-size: 4em;
  margin: 0 3em;
  color: #FF55FF;
}

.section-header {
  color: white;
  font-family: var(--press-start);
}

.officers {
  text-align: center;
}

#officers-container {
  display: flex;
  flex-direction: column;
}

/* Images and text box for images */
.img-container img {
  width: 16rem;
  height: 20rem;
  padding: 1rem;
}

footer img {
  height: 4em;
}

/* Display settings for desktop */ 
@media only screen and (min-width: 600px) {
  #burger-icon {
    display: none;
  }

  #officers-container {
    display: flex;
    flex-direction: row;
    padding: 5em;
  }

  .about-child h2 {
    color: blue;
    overflow: hidden;
    font-size: 4em;
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line *
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: green }
  }

}